body{
    font-family: 'Nunito Sans', sans-serif;
   
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    border-bottom: 1px solid #DEDEDE;
}
.header{
    font-family: 'Open Sans', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0 25px 0;
    
}
.header-item{
     
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
      
}
.header-logo{
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;

}
.header-nav{
    display: flex;
    padding-left: 0;
    list-style-type: none;
    gap: 46px;
    margin-top: 20px;
}
.header-nav a:hover{
   color: #FFC725; 

}

.header-nav a{
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
    
}

.header-nav a::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5p;
    background: transparent;
    display: block;
    
}
.header-nav a.active::after{ 
    background: #FFC725;
    
}
.button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding:0;
    gap: 10px;
    cursor: pointer;
}
.button-text{
    color: #443737;
    font-weight: 700;
    font-size: 15px;   
}

.button-item{
    position: relative;
}
.button-count{
    font-weight: 700;    
    font-size: 13px;
    background-color: #F37335;
    color: #FFFFFF;
    
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px; 
    right: -4px;
}
.bg{
    text-align: center;
    color: white;
    background-image:url(../images/bg.jpg) ;
    background-size: cover;
    background-position: center center;
    padding: 142px 0px;
    margin-bottom: 140px;

}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;

}
.breadcrumbs a:hover{
    color: #FFC725;
}
.breadcrumbs a{
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif; 
    text-decoration: none;
}
.breadcrumbs a::before{
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before{
    display: none;
}
.title{
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.description{
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}

.banner-box{
    color: rgb(232, 230, 227);
    background-image:url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    padding: 101px 100px 120px;
    margin-bottom: 75px;   
}
.banner-title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.banner-text {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    max-width: 310px;
    line-height: 1.6;
    margin-bottom: 35px;
    margin-top: 14px;
}
.banner-link {
    text-decoration-color: currentcolor;
    background-color: rgb(174, 116, 3);
    color: rgb(202, 198, 191);
    border-color: rgb(162, 108, 3);
    text-decoration: none;
    text-decoration-color: currentcolor;
    background-color: #FBB731;
    padding: 19px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #1E2F40;
    border-radius: 5px;
    border: 1px solid #FBB731;
    border-top-color: rgb(251, 183, 49);
    border-right-color: rgb(251, 183, 49);
    border-bottom-color: rgb(251, 183, 49);
    border-left-color: rgb(251, 183, 49);
  transition: 0.3s;
}
.banner-sale {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background-color: #F37335;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 18px;
    border-radius: 14px;
    max-width: 58px;
    line-height: 18px;
    margin-bottom: 6px;
    text-align: center;
}